BasedOnStyle: Google
IncludeCategories:
  - Regex:           '.*stdafx\.h"'
    Priority:        -1
    SortPriority:    -1
    CaseSensitive:   true
  - Regex:           '.*targetver\.h"'
    Priority:        0
    SortPriority:    0
    CaseSensitive:   true

AllowShortFunctionsOnASingleLine: None